* {
  box-sizing: border-box;
}

/***************************************************************************************
Grups Músicals
****************************************************************************************/
/*
.container2 {
  display: flex;
  flex-basis: 100px;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;  
  justify-content: space-evenly;
  text-align: justify;


  @media (max-width: $Media) {
    flex-direction: column; 
  }

  @media (max-width: $mqMinWidth) {
    flex-direction: column; 
  }
}

.item {
  @media (max-width: $mqMinWidth) {
    padding-left: 0;
  }
}


*/




