<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="./assets/images/logo.png" class="w-m h-m">
        </a>
        <span class="text-muted">&copy; Miquel Garcia-Talavera Roig</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><img src="./assets/images/twitter.png" class="w-p h-p"/></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="./assets/images/gmail.png" class="w-p h-p"/></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="./assets/images/facebook.png" class="w-pm h-p"/></a></li>
      </ul>
    </footer>
  </div>