 <footer class="flex Max:flex-row mqMinWidth:flex-col items-center">
      <div>
        <a href="/">
          <img src="./assets/images/logo.png" class="w-m h-m ml-12">
        </a>
        
        <span class="ml-14 mb-9">&copy; Miquel Garcia-Talavera Roig</span>
      </div>
  <a class="text-muted pl-twitter" href="#"><img src="./assets/images/twitter.png" class="w-p h-p"/></a></li>
  <a class="text-muted pl-gmail" href="#"><img src="./assets/images/gmail.png" class="w-p h-p"/></a></li>
  <a class="text-muted pl-face" href="#"><img src="./assets/images/facebook.png" class="w-pm h-p"/></a></li>
  </footer>