 <footer class="flex flex-row">
      <div class="">
        <a href="/" class="order-1">
          <img src="./assets/images/logo.png" class="w-m h-m ml-12 basis-1">
        </a>
        <span class="order-2 text-muted ml-13 basis-2">&copy; Miquel Garcia-Talavera Roig</span>
      </div>
  
      <ul class="order-3 ml-13 inline-block">
        <li class=""><a class="text-muted" href="#"><img src="./assets/images/twitter.png" class="w-p h-p"/></a></li>
        <li class=""><a class="text-muted" href="#"><img src="./assets/images/gmail.png" class="w-p h-p"/></a></li>
        <li class=""><a class="text-muted" href="#"><img src="./assets/images/facebook.png" class="w-pm h-p"/></a></li>
      </ul>
  </footer>